*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
}

/* nav area */

.main-header{
    position: static;
    top: 0;
    left: 0;
}

#logo{
width: 70px;

}

.navbar{
    background-color:#020633 ;
  
}

.navbar-brand{
font-size: 40px;
}

.btn{
    font-size: 18px;
    border: 1px solid rgb(1, 53, 222);
}
.btn:hover{
    background-color:rgb(2, 53, 218);
}

.nav-link{
    font-size: 20px;

}


/* section....1 */

.container{
    margin: 100px 100px;
}

.heading_img{
    width: 550px;
    margin-right: 60px;
}

.div_box{
    /* padding-top: 150px; */
}

.main_heading{
    font-size: 60px;
}

.sub_heading{
    font-size: 18px;
    margin-top: 40px;
    color: rgb(92, 86, 86);
}

span{
    color: blue;
    font-size: 22px;
    /* transition: .5s; */
}

 span:hover{
    color: white;
} 

/* section..2 */

.heading{
    font-size: 40px;
    text-align: center;
}


.box_div{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 100px 100px;
}

.small_img{
    width: 80px;
    margin-right: 100px;
    margin-left: 35px;
}
    

.text{
    font-size: 20px;
 margin-top: 20px;

}

/* section...3 */

.box_div_two{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 100px 100px;
   /* margin-top: 200px; */
}


.sub_img{
    width: 500px;
}

.titel_text{
     /* margin-bottom: 70px;  */
    margin-left: 100px;
}

.value{
     height: 120px;
    width: 120px; 
     margin: 30px;
    font-size: 18px; 
} 

.value:hover{
    background-color: rgba(245, 232, 206, 0.728);
}

.btn_btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: 1px solid rgb(1, 189, 222);
    border-radius: 40px;
    margin-left: 40px;
    transition: .9s;
}


.btn_btn:hover{
    color: white;
    background-color: rgb(2, 53, 218);
   
}

/* section...4 */

section{
    margin-top: 250px;
}

.div_box_three{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px 100px;
 
    gap: 20px;
   
}

.card{
    width: 350px;
    transition: 0.5s;
       
}

.card:hover{
    border: 1px solid rgb(179, 179, 254);
    box-shadow: 2px 5px 18px rgba(118, 116, 116, 0.578);
    transform: translate(25px 20px);
}

.icon_img{
    width: 20px;
    margin: 10px;
}

.list_link{
    color: black;
 font-weight: 500;
    transition:.8s ;
    cursor: pointer;
}
.list_link:hover{
    color: blue;
}

.man_icon_img{
    width: 50px;
}

.trolly_icon_img{
    width: 30px;
    
}



.btn_btn_2{
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: 1px solid rgb(1, 189, 222);
    border-radius: 40px;
  margin-left: 500px;
 transition: .9s;
}


.btn_btn_2:hover{
    color: white;
    background-color: rgb(2, 53, 218);
   
}

/* section...5 */

#video_img{
    width: 1200px;
    margin-top: 50px;
}

/* section..6 */

.card_card{
    width: 350px;
    padding: 30px 30px;
}

.card_card:hover{

   box-shadow: 2px 5px 18px rgba(118, 116, 116, 0.578);
   transition: .5s;
}


.card_card_3{
    width: 350px;
    background-color: rgb(98, 75, 250);
    color: white;
    padding: 30px 30px;
    border-radius: 10px;
}




.card_img{
    border-radius: 50px;
}
.card_img_2{
    width: 100px;
    border-radius: 100px;
}

.div_box_four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-top: 50px;
}

/* section...8 */

.contect_box{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* margin-right: 80px;  */
     
}

.contact_section{
    background-color: #020633;
    color: white;
    padding: 90px;
  margin: 50px 5px;
  border-radius: 8px;
  margin-left: 40px;

}
